.aside {
  position: absolute;
  width: 225px;
  height: 100vh;
  left: 0px;
  top: 90px;
  text-align: left;
  padding: 100px 0 0 110px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  background: #ffffff;
}

.aside--border {
  @extend .aside;
  width: 665px;
  height: 0px;
  top: 422px;
  padding: 0;

  border: 1px solid #c6c2c2;
  transform: rotate(90deg);
}
