.App-header {
  position: absolute;
  width: 1920px;
  height: 90px;
  left: 0px;
  top: 0px;
  background: #3498db;
  overflow: hidden;
}

.logo {
  position: absolute;
  width: 98px;
  height: 98px;
  left: 37px;
  top: -5px;
  border-radius: 100%;
  background: #2ecc71;
}

.logo__title {
  position: absolute;
  width: 92px;
  height: 56px;
  left: 0px;
  top: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.logo__title--to-right {
  left: 15px;
  height: 30px;
  top: 27px;
}

.cart {
  position: relative;
  left: 1675px;
  top: 23px;
  width: 0px;
  height: 50px;
  cursor: pointer;

  .cart__image {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("../../../assets/cart.svg");
  }

  .cart__name {
    position: absolute;
    width: 43px;
    height: 28px;
    left: 50px;
    top: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
  }

  .cart__counter {
    position: absolute;
    height: 23px;
    width: 24px;
    left: 30px;
    border-radius: 100%;

    background: rgba(231, 76, 60, 0.96);
  }

  .cart__counter--number {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
  }
}
